#-------------------------------------------------------------------------
# User settings config file for Linux_Plex_Backup.sh
#
# https://github.com/007revad/Linux_Plex_Backup
#-------------------------------------------------------------------------

# Set location to save tgz file to.
Backup_Directory=/share/Backups/Plex_Backup

# The script gets the distro and hostname for logging and the backup file name. 
# Set Name= to distro, hostname or set it to a 'nickname'.
# If Name= is blank the computer's hostname will be used.
Name=distro

# Log all files backed up.
# Set LogAll= to yes or no. Blank is the same as no.
LogAll=no

# Email log. Requires LogAll=yes
# Uses msmtp to send the email.
to_email_address=
from_email_address=

# Delete old backups.
# Set KeepQty= to the number of backups to keep.
KeepQty=5

